<footer>
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell">
        <ul class="mdc-list">
          <li>
            <a class="mdc-list-item" tabindex="0" href="{% link index.html %}">
              <span class="mdc-list-item__ripple"></span>
              <span class="mdc-list-item__text">Home</span>
            </a>
          </li>
          <li>
            <a class="mdc-list-item" tabindex="0" href="{% link archive/ideas/index.html %}">
              <span class="mdc-list-item__ripple"></span>
              <span class="mdc-list-item__text">Ideas</span>
            </a>
          </li>
          <li>
            <a class="mdc-list-item" tabindex="0" href="{% link archive/learnings/index.html %}">
              <span class="mdc-list-item__ripple"></span>
              <span class="mdc-list-item__text">Learnings</span>
            </a>
          </li>
          <li>
            <a class="mdc-list-item" tabindex="0" href="{% link archive/media/index.html %}">
              <span class="mdc-list-item__ripple"></span>
              <span class="mdc-list-item__text">Media</span>
            </a>
          </li>
          <li>
            <a class="mdc-list-item" tabindex="0" href="{% link archive/readings/index.html %}">
              <span class="mdc-list-item__ripple"></span>
              <span class="mdc-list-item__text">Readings</span>
            </a>
          </li>
          <li>
            <a class="mdc-list-item" tabindex="0" href="{% link archive/reflections/index.html %}">
              <span class="mdc-list-item__ripple"></span>
              <span class="mdc-list-item__text">Reflections</span>
            </a>
          </li>
          <li>
            <a class="mdc-list-item" tabindex="0" href="{% link archive/resources/index.html %}">
              <span class="mdc-list-item__ripple"></span>
              <span class="mdc-list-item__text">Resources</span>
            </a>
          </li>
          <li>
            <a class="mdc-list-item" tabindex="0" href="{% link archive/thoughts/index.html %}">
              <span class="mdc-list-item__ripple"></span>
              <span class="mdc-list-item__text">Thoughts</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="mdc-layout-grid__cell">
        {%- include social-icons.html -%}
      </div>
      
    </div>
  </div>

</footer>
