<header>
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell">
        <div class="wrapper">
          <h1 class="mdc-typography--headline1">{%- if page.title -%}
            {{ page.title }}{%- else -%}{{ site.title }}
            {%- endif -%}</h1>
          <span>{%- if page.date -%}
            {{ page.date | date: site.date_format }}
            {%- endif -%}</span>
        </div>

        {%- if page.layout == "home" -%}
        {%- include social-icons.html -%}
        {%- endif -%}

      </div>
    </div>
  </div>
</header>
