<div itemscope itemtype="http://schema.org/Organization">
  <link itemprop="url" href="http://champa720.github.io/basecamp">
  <ul class="social-media">

    <li>
      <a itemprop="sameAs" class="codepen" href="https://www.codepen.io/champa720" aria-label="codepen">
        <span>codepen</span>
      </a>
    </li>
    <li>
      <a itemprop="sameAs" class="github" href="https://www.github.com/champa720" aria-label="github">
        <span>github</span>
      </a>
    </li>
    <li>
      <a itemprop="sameAs" class="linkedin" href="https://www.linkedin.com/in/jason-k-17111717" aria-label="linkedin">
        <span>linkedin</span>
      </a>
    </li>

  </ul>
</div>
