---
layout: default
---

<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell">

      <section>
        <div class="mdc-layout-grid__inner">

          {%- capture basecamp -%}{{ page.title | downcase}}{%- endcapture -%}
          {%- for post in site.categories[basecamp] -%}
          <div class="mdc-layout-grid__cell">
            <div id="{{page.title | downcase }}" class="mdc-card mdc-card--outlined">
              <div class="mdc-card__content">
                <div class="mdc-card__primary">
                  <h2 class="mdc-card__primary-headline">{{ post.title }}</h2>
                  <time class="mdc-card__primary-overline" datetime="{{ page.date | date_to_xmlschema }}">{{ post.date | date: site.date_format }}</time>
                  <div class="mdc-card__primary-body">
                    <span class="mdc-card__primary-body">{{ post.content | strip_html | truncatewords:35 }}</span>
                  </div>
                </div>
              </div>
              <div class="mdc-card__actions">
                <a class="mdc-button mdc-card__action mdc-card__action--button" href="{{ post.url | relative_url }}">
                  <div class="mdc-button__ripple"></div>
                  <span class="mdc-button__label">View post</span>
                </a>
              </div>
            </div>
          </div>
          {%- endfor -%}

        </div>
      </section>

    </div>
  </div>
</div>
