// normalize variables
$base-font-size: 16px;
$base-line-height: 24px;
$base-font-family: unquote("-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol");
$normalize-vertical-rhythm: true;

// primer variables
$body-font: $base-font-family;

// fluid-type variables
$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

// fluid-type header variables
$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

// mdc variables
$mdc-theme-primary: #662222;
$mdc-theme-secondary: #424242;
$mdc-theme-tertiary: #CC9933;
$mdc-typography-font-family: $base-font-family;
$mdc-layout-grid-max-width: 840px;


@charset "UTF-8";
@import "normalize-scss/sass/normalize/import-now";
// @import "@primer/css/markdown/index.scss";
@import "fluid-type.scss";
@import "material-web-components";
@import "social_icons";


/////
.mdc-button--skiplink {
  @include mdc-button-container-fill-color(#424242);
  z-index: 8;
  margin: 14px;
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  transform: translateY(-64px);
  transition: all .12s cubic-bezier(.4, 0, .2, 1);

  &:focus {
    transform: translateY(0);
  }
}

/////
.mdc-top-app-bar__brand {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.mdc-top-app-bar__logo {
  height: 1.25rem; // smaller
  // height: 32px; // bigger
  padding-left: 12px;
}
.mdc-top-app-bar__title {
  text-transform: uppercase;
}

/////
a:not([class*='mdc-']) {
  color: $mdc-theme-primary;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

blockquote {
  margin: 0;
  padding-left: 1em;
  border-left: 2px solid $mdc-theme-primary;
}

dl {
  margin: 1.5em 0;
  display: grid;
  grid-template: auto / 0.5fr 1fr;

  & dt {
    grid-column: 1;
    font-weight: bold;
  }

  & dd {
    margin: 0 0 0 1.5em;
    grid-column: 2;

    & + dt,
    & + dt + dd {
      margin-top: 1.5em;
    }
  }

  & dl {
    display: block;

    & dt {
      font-weight: initial;
    }
  }
}

/////
form {
  font-size: initial;
}

main {
  min-height: calc(100vh - 64px);
}

/////
.mdc-layout-grid {
  width: 100%;
}

.mdc-layout-grid__inner--grid-1  {
  grid-template-columns: repeat(1, minmax(0, 1fr));
  padding: 0;
}

.mdc-layout-grid__inner--grid-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 0;
}

.mdc-layout-grid__inner--grid-2-quilted {
  grid-template-columns: repeat(2, minmax(0, 1fr));
  padding: 0;

  & li:nth-child(3n+1){
    grid-column-end: span 2;
  }
}

.mdc-layout-grid__inner--grid-3  {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 0;
}

/////
.mdc-card__primary,
.mdc-card__secondary {
  padding: 16px;

  &--no-margin * {
    margin: 0;
  }
}

.mdc-card__secondary {
  flex-grow: 1;
}

.mdc-card__media-content {
  display: flex;
  align-items: flex-end;

  & .mdc-card__primary {
    flex-grow: 1;
    background: rgba(0,0,0,.6);
    color: #fff;
  }
}

.mdc-card__primary-action--link {
  color: initial;
  font-weight: initial;

  &:hover {
    text-decoration: none;
  }
}

/////
details span,
summary span {
  display: block;
}

details summary {
  font-weight: 700;

  &::-webkit-details-marker {
    display:none;
  }
}

details {
  //margin-bottom: 0 !important;
  transition: all .12s cubic-bezier(.4, 0, .2, 1);

  & summary *:after {
    @include mdc-theme-prop(color, text-secondary-on-light);
    content: "expand_more";
    font-family: 'Material Icons';
    position: absolute;
    right: 16px;
  }

  &[open] summary *:after {
    content: "expand_less";
    font-family: 'Material Icons';
  }

  &[open] summary:before {
    @include mdc-theme-prop(background-color, primary);
    opacity: 0.12;
  }

  &[open] {
    margin: 1.5em -0.5em !important;
  }
}

details:not([open]) {
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

/////
.mdc-list-group {
  display: block;
  list-style-type: none;
}

.mdc-list-divider {
  @include mdc-theme-prop(border-color, rgba(224,224,224));
}

/////
.mdc-image-list {
  @include mdc-image-list-standard-columns(3,8px);
}

/////
.site-header {
  @include mdc-theme-prop(background-color, rgba(66,66,66,0.1));

  & * {
    min-height: 50vh;
  }
}

/////
#mdc-button-call-to-action-html {
  @include mdc-theme-prop(background-color, rgba(66,66,66,0.1));

  & .mdc-layout-grid {
    height: 150px;

    & .mdc-layout-grid__inner {
      height: 100%;
    }
  }

  & .mdc-button {
    @include mdc-theme-prop(background-color, $mdc-theme-tertiary);
    align-self: center;
  }
}

/////
#post-related-content-html {
  @include mdc-theme-prop(background-color, rgba(66,66,66,0.1));

  & h2 {
    margin-top: 0;
  }
}

/////
.site-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @include mdc-theme-prop(background-color, secondary);

  & * {
    @include mdc-theme-prop(color, on-secondary);
  }
}

.site-footer__section {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.mdc-top-app-bar--bottom {
  position: sticky;
  bottom: 0;
}

/////
@media screen and (max-width: 839px) {
  .mdc-top-app-bar__action-item.mdc-button {
    display: none;
  }
}

/////
@media  screen and (max-width: 599px) {
  main {
    min-height: calc(100vh - 56px);
  }
}

/////
@media  screen and (max-width: 479px) {
  .mdc-layout-grid__inner--grid-2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .mdc-layout-grid__inner--grid-2-qulited {
    grid-template-columns: repeat(1, minmax(0, 1fr));

    & li:nth-child(3n+1) {
      grid-column-end: span 1;
    }
  }

  .mdc-layout-grid__inner--grid-3 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
