@use "@material/card";

// @include card.fill-color($color);
// @include card.outline($color, $thickness);
// @include card.shape-radius($radius, $rtl-reflexive);
// @include card.media-aspect-ratio($x, $y);


.mdc-card {
  margin: 1em 0;
  @include card.fill-color(transparent);
  //@include card.outline($primary, 1px);
  border-color: var(--mdc-theme-primary);

  & .mdc-card__primary {
    padding: 1rem;

    & p {
      margin: 0;
    }
  }

  & .mdc-card__primary-overline {
    display: block;
    // @include mdc-typography(overline);
    // @include mdc-theme-prop(color, text-secondary-on-background, true, false);
    font-size: 0.75rem / 1rem * 100%;
    line-height: normal;
  }

  & .mdc-card__primary-headline {
    display: block;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 1em;
    // @include mdc-typography(headline6);
    // @include mdc-theme-prop(color, text-primary-on-background, true, false);
    font-size: 1.25rem / 1rem * 100%;
    font-weight: normal;
    line-height: normal;
  }

  & .mdc-card__primary-body {
    // @include mdc-theme-prop(color, text-primary-on-background, true, false);
    margin-bottom: 0;
  }
}
